{% extends 'base.html' %}

{% block title %}Create New Habit{% endblock %}

{% block content %}
{% load static %}
<h1>Bird Collection</h1>
<h4>Food: <span id='food-amount'>{{ food_amount}}</span></h4>
<div class="col-12" style="display: flex; flex-wrap: wrap;">
    {% for bird in birds %}
        <div class="col-3" style="margin: 10px; text-align: center;">
            <a href="#" class="feed-bird" data-bird-id="{{ bird.id }}"><img src="{% static 'bird_images/' %}{{ bird.bird.image }}" height="100px" alt="{{ bird.bird.name }}"></a>
            <h2>{{ bird.bird.name }} </h2><span id="stage-badge-{{bird.id}}" class="badge badge-info">Stage: {{ bird.stage }} / 3</span>
        </div>
    {% endfor %}
</div>
{% endblock %}

{% block scripts %}
<script>
    var eggModal
    document.addEventListener("DOMContentLoaded", function() {
        document.querySelectorAll('.feed-bird').forEach(item => {
            item.addEventListener('click', event => {
                event.preventDefault();
                const birdId = item.dataset.birdId;
                $.ajax({
                    url: `/habit/birds/${birdId}/feed/`,
                    type: 'POST',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    success: function(response) {
                        update_stage_badge(response.bird);
                        update_food_amount(response.food_amount);
                        if(response.bird_growed_old == true) {
                            const eggs = JSON.parse(response.eggs);
                            const static_url = "{%static 'egg_images/' %}";
                            console.log(static_url)
                            const modalContent = `
                                <div class="modal fade" id="eggModal" tabindex="-1">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="eggModalLabel">Choose an Egg</h5>
                                            </div>
                                            <div class="modal-body">
                                                <p>Your bird has grown and is now ready for your Forest! Before you release him into the Forest choose one of the following Eggs:</p>
                                                    ${eggs.map(egg => `<button class="col-4 btn btn-outline-default" type="button" data-egg-id="${egg.pk}" onclick="chooseEgg(${egg.pk})"><img src="${static_url}${egg.fields.image}" width="25px"> ${egg.fields.name}</button>`).join('')}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            `;

                            document.body.insertAdjacentHTML('beforeend', modalContent);
                            eggModal = new bootstrap.Modal(document.getElementById('eggModal'));
                            eggModal.show();
                        }
                },
                error: function(xhr, status, error) {
                }
                });
            });
        });
    });

function update_stage_badge(bird){
    $(`#stage-badge-${bird.id}`).html(`Stage: ${bird.stage} / 3`);
}
function update_food_amount(amount){
    $(`#food-amount`).html(`${amount}`);
    if(amount == 0){
        console.log("No Food");
    }
}

function chooseEgg(index) {
    const eggId = index;
    eggModal.hide();
    $('#eggModal').modal('hide');

    $.ajax({
        url: `/habit/eggs/${eggId}/choose/`,
        type: 'POST',
        headers: {
            'X-CSRFToken': '{{ csrf_token }}'
        },
        success: function(response) {
            //NOTE: not a good solution to use ajax and then reload the site, but it solves the problem for now to remove the grown bird by hand
            window.location.reload();
        },
        error: function(xhr, status, error) {
            console.error('Error:', error);
        }
    });
}
</script>
{% endblock %}